# =====================================================================
# Agentic AI Workshop - Environment Variables Configuration
# =====================================================================
# Instructions:
# 1. Copy this file to a new file named `.env`:
#    cp .env.example .env
# 2. Fill in your API keys below before running the notebooks.
# =====================================================================

# AWS Bedrock Access Token (use "eu.amazon.nova-2-lite-v1:0",model_provider="bedrock_converse")
AWS_BEARER_TOKEN_BEDROCK="your-aws-bedrock-bearer-token-here"
# Anthropic Apikey (use "claude-haiku-4-5-20251001")
ANTHROPIC_API_KEY=your anthropic apikey here
